.social-info-list {
    display: flex;
    justify-content: center;
}

.social-info-list__item:not(:last-child) {
    margin-right: 10px;
}

.social-info-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: var(--accent-color);
        }
}

.social-info-list__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-info-list__link:hover &,
    .social-info-list__link:focus & {
            fill: #ffffff;
        }
}

.our-team__employees {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
}



.employees__card-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.our-team {
    background: #f5f4fa;
}

.employees__card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #ffffff;

    &:not(:nth-child(4n)) {
            margin-right: 30px;
        }
}

.employees__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 94px;
    padding-bottom: 50px;

    color: var(--color-title);
}

.employees__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

    color: var(--color-title);
}

.employees__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;

    color: var(--color-text);
}