.stydio-hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
}

.stydio-hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
}

.stydio-hero {
    background-color: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/shapka.jpg');
    background-size: cover;
    background-position: initial;
    background-repeat: no-repeat;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.modal-btn {
    min-width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 188% */
    letter-spacing: 0.06em;
    color: #ffffff;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px var(--color-title);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}