.logo {
    padding-top: 25px;
    padding-bottom: 25px;
    
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.footer__logo {
    padding-bottom: 20px;
    padding-top: 0;
}

.header__logo{
    margin-right: 93px;
}

.logo_theme_dark {
    color: #000;
}

.logo_theme_light {
    color: #fff;
}
